{% extends "index.html" %}

{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}

    <h3>Funcionamiento aplicacion</h3>
    <p> aplcaicon desarollada en pthon y flaks y mongooos</p>
    <p>Funcionalidad</p>
    <ul>
        <li>CRUD Generos</li>
        <li>CRUD Peliculas</li>
        <li>Login USer</li>
    </ul>

{% endblock %}
    
{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}
    