{% extends "index.html" %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block content %}
    <script src="../static/js/app.js"></script>

    <div class="container mt-5"> 
        <form id="frmAgregarGenero">
            <h3>Agregar Genero</h3>
            <div class="mb-3">
                <label class="form-label">Nombre:</label>
                <input type="text" class="form-control" name="txtGenero" id="txtGenero" required>
            </div>
            <button type="submit" class="btn btn-primary" onclick="agregarGenero()">Guardar</button>
            <a href="/generosVista">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </a>
        </form>
    </div>
{% endblock %}

{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}