<!-- herdar de index -->
{%extends "index.html"%} 

{% block menu %}
    {% include "menu.html" %}
    <script src="../static/js/app.js"></script>

    <div class="container mt-5"> 
        <h3 class=" text-center  ">lista</h3>
        <div>
            <a href="/agregarGeneroVista">
                <button type="button" class="btn btn-primary">Agregar Genero</button>
            </a>
        </div>
        <table class=" table table-bordered table-hover mt-3 table-sm border border-primary table-striped table-responsive w-50">
            <thead>
                <tr class="bg-primary text-white">
                    <th>Nombre</th>
                    <th>Acción</th>
                </tr>
            </thead>

            <tbody>
                {% for genero in generos %}
                    <tr>
                        <td>{{genero.nombre}}</td>
                        <td>
                            <a href="/actualizarGeneroVista/{{genero.id}}">
                                <i title="Editar" class="fa fa-edit btn btn-primary" ></i> 

                            </a>
                            <a href="/eliminarGenero/{{genero.id}}">
                                <i class="fa fa-trash  btn btn-danger" title="Eliminar"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}    

            </tbody>
        </table>
    </div>
{% endblock %}

{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}